$black:#434343;
$ccgrey:#cccccc;
$light:#f5f5f5;

$red:#dc3535;
$orange:#FF6600;
$yellow:#fbfcd8;
$green:#8BAC58;
$blue:#0054A0;
$indigo:#4B0082;
$violet:#46436B;

$primary-color: $blue;
$secondary-color: $light;
$alert-color: $red;
$success-color: $green;
$warning-color: $orange;
$info-color: $yellow;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;