/* Colors */
$black: #252525;
$light: #f5f5f5;
$ccgrey: #c5c5c5;
$green:#c5e981;
$red:#f95353;
$blue:#0C77B9;
$purple:#46436B;
$orange:#FF6600;
$twitter_color:#4099FF;
$facebook_color:#3B5998;
$linkedin_color:#4875B4;
$google_color:#C63D2D;

/* Vars */
$serif:'Geogia' serif;

/* Sets the focal color throughout the application */
$theme_color:$red;

/* Mixins */
@mixin gradient($color) {
  @include background-image(linear-gradient($color, $color*0.9));
}

@mixin shadow {
    @include box-shadow(0 1px 4px 2px rgba(black, 0.1));
}

@mixin butt($button_color) {
  @include button-style($button_color);
}