.button {
  @extend .radius;
  @include gradient($primary-color);
  &:hover:not(.disabled) { background: $primary-color; }

  &.alert {
    @include gradient($alert-color);
    &:hover { background: $alert-color; }
  }

  &.success {
    @include gradient($success-color);
    &:hover { background: $success-color; }

  }

  &.secondary {
    background: white !important;
    border:1px solid $ccgrey !important;
    &:hover { background: $light !important; }
  }
}

ul.button-group {
  @extend .radius;
}