ul.side-nav {
  li {
    background: white;
    &:nth-child(even) { background:$light; }
    &.active { background: $primary-color }
    &.disabled {
      a {
        pointer-events: none;
        cursor: default;
        color: $aluminum;
      }
    }
  }
  li,a {
    @include border-radius($global-radius);
  }
}