table {
  @include border-radius($global-radius);
  tbody {
    border-bottom: 1px solid $ccgrey !important;
    border-top: 1px solid $ccgrey !important;
  }
}

.pricing-table {
  @include shadow;
  @include border-radius($global-radius);
  overflow: hidden;

  .description {
    font-family: $font-family-serif;
    font-style: italic;
  }

  .price {
    border-bottom: 1px solid $ccgrey;
  }
}

.pricing-table-cluster {
  .pricing-table {

    .title {
      background-color: darken($primary-color, 10%);
      color: rgba(white, 0.8);
    }

    .price {
      color: lighten($black, 20%);
      font-size: 1.8rem;
    }

    &.primary {
      position: relative;
      z-index: 9;
      top: -30px;

      .title {
        background-color: $primary-color;
        color: white;
        padding: 20px;
        font-size: 2rem;
      }

      .price { font-size: 2.8rem; }

      .bullet-item,
      .description {
        font-size: 1rem;
      }

      .success.button {
        @extend .large;
      }
    }

    &.secondary {
      position: relative;
      z-index: 8;
      top: -15px;

      .title {
        background-color: $primary-color;
        color: white;
        padding: 20px;
      }

      .price {
        font-size: 2.2rem;
      }

      .bullet-item,
      .description {
        font-size: 0.8rem;
      }
    }

    &.primary,
    &.secondary {
      .price {color: $black;}
    }
  }
}