<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Description here' name='description'>
    <meta content='tacos, whiskey, beer, sunshine, friends' name='keywords'>
    <link href='images/favicon.png' rel='shortcut icon' type='image/x-icon'>
    <link href='images/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed'>
    <link href='images/apple-touch-icon.png' rel='apple-touch-icon'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>The Middleman</title>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/modernizr.js" type="text/javascript"></script>
  </head>
  <body class='views views_tabs views_tabs_index'>
    <h1 data-magellan-destination='tabs' id='tabs'>Tabs</h1>
    <div class='row'>
      <div class='large-12 columns'>
        <h2>Horizontal tabs</h2>
        <dl class='tabs' data-tab=''>
          <dd class='active'>
            <a href='#panel1'>Tab 1</a>
          </dd>
          <dd>
            <a href='#panel2'>Tab 2</a>
          </dd>
          <dd>
            <a href='#panel3'>Tab 3</a>
          </dd>
          <dd>
            <a href='#panel4'>Tab 4</a>
          </dd>
        </dl>
        <div class='tabs-content'>
          <div class='content active' id='panel1'>
            <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
          </div>
          <div class='content' id='panel2'>
            <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
          </div>
          <div class='content' id='panel3'>
            <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
          </div>
          <div class='content' id='panel4'>
            <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='large-12 columns'>
        <h2>Vertical tabs</h2>
        <dl class='tabs vertical' data-tab=''>
          <dd class='active'>
            <a href='#panel1'>Tab 1</a>
          </dd>
          <dd>
            <a href='#panel2'>Tab 2</a>
          </dd>
          <dd>
            <a href='#panel3'>Tab 3</a>
          </dd>
          <dd>
            <a href='#panel4'>Tab 4</a>
          </dd>
        </dl>
        <div class='tabs-content'>
          <div class='content active' id='panel1'>
            <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
          </div>
          <div class='content' id='panel2'>
            <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
          </div>
          <div class='content' id='panel3'>
            <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
          </div>
          <div class='content' id='panel4'>
            <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/all.js" type="text/javascript"></script>
  </body>
</html>
