%h1#iconbar{'data-magellan-destination'=>'iconbar'} Iconbar
.row
  .large-6.columns
    %h2 Vertical
    .icon-bar.vertical.five-up
      %a.item
        %i.icon-home
        %label Home
      %a.item
        %i.icon-bookmark
        %label Bookmark
      %a.item
        %i.icon-info
        %label Info
      %a.item
        %i.icon-mail
        %label Mail
      %a.item
        %i.icon-heart
        %label Like
    .icon-bar.vertical.four-up
      %a.item
        %i.icon-home
      %a.item
        %i.icon-bookmark
      %a.item
        %i.icon-mail
      %a.item
        %i.icon-heart

  .large-6.columns
    %h2 Horizontal
    .icon-bar.four-up
      %a.item
        %i.icon-home
        %label Home
      %a.item
        %i.icon-bookmark
        %label Bookmark
      %a.item
        %i.icon-mail
        %label Mail
      %a.item
        %i.icon-heart
        %label Like

    .icon-bar.five-up
      %a.item
        %i.icon-home
      %a.item
        %i.icon-bookmark
      %a.item
        %i.icon-info
      %a.item
        %i.icon-mail
      %a.item
        %i.icon-heart
