%h1#sidenav{'data-magellan-destination'=>'sidenav'} Sidenav
.row
  .large-4.columns
    %ul.side-nav
      - ['Larry', 'Mo', 'Currly', 'Shep'].each do |item|
        %li=link_to item, '#'
  .large-4.columns
    %ul.side-nav
      - ['Crosby', 'Stills', 'Nash'].each do |item|
        %li=link_to item, '#'
      %li.active=link_to 'Active link', '#'
  .large-4.columns
    %ul.side-nav
      - ['Four', 'Non', 'Blonds'].each do |item|
        %li=link_to item, '#'
      %li.disabled=link_to 'Disabled link', '#'
