<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Description here' name='description'>
    <meta content='tacos, whiskey, beer, sunshine, friends' name='keywords'>
    <link href='images/favicon.png' rel='shortcut icon' type='image/x-icon'>
    <link href='images/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed'>
    <link href='images/apple-touch-icon.png' rel='apple-touch-icon'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>The Middleman</title>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/modernizr.js" type="text/javascript"></script>
  </head>
  <body class='views views_table views_table_index'>
    <h1 data-magellan-destination='table' id='table'>Table</h1>
    <h2>Pricing tables (blocks)</h2>
    <div class='row'>
      <div class='large-4 columns'>
        <ul class='pricing-table'>
          <li class='title'>Start up</li>
          <li class='price'>$9.99</li>
          <li class='description'>An awesome description</li>
          <li class='bullet-item'>1 Database</li>
          <li class='bullet-item'>5GB Storage</li>
          <li class='bullet-item'>20 Users</li>
          <li class='cta-button'>
            <a class='button success' href='#'>Buy Now</a>
          </li>
        </ul>
      </div>
      <div class='large-4 columns'>
        <ul class='pricing-table'>
          <li class='title'>Enterprise</li>
          <li class='price'>$99.99</li>
          <li class='description'>An awesome description</li>
          <li class='bullet-item'>1 Database</li>
          <li class='bullet-item'>5GB Storage</li>
          <li class='bullet-item'>20 Users</li>
          <li class='cta-button'>
            <a class='button success' href='#'>Buy Now</a>
          </li>
        </ul>
      </div>
      <div class='large-4 columns'>
        <ul class='pricing-table'>
          <li class='title'>Small Business</li>
          <li class='price'>$39.99</li>
          <li class='description'>An awesome description</li>
          <li class='bullet-item'>1 Database</li>
          <li class='bullet-item'>5GB Storage</li>
          <li class='bullet-item'>20 Users</li>
          <li class='cta-button'>
            <a class='button success' href='#'>Buy Now</a>
          </li>
        </ul>
      </div>
    </div>
    <h2>Pricing tables (cluster)</h2>
    <div class='row collapse pricing-table-cluster'>
      <div class='large-3 columns'>
        <ul class='pricing-table'>
          <li class='title'>Subpar</li>
          <li class='price'>$9.99</li>
          <li class='description'>An awesome description</li>
          <li class='bullet-item'>1 Database</li>
          <li class='bullet-item'>5GB Storage</li>
          <li class='bullet-item'>20 Users</li>
          <li class='cta-button'>
            <a class='button secondary small' href='#'>Buy Now</a>
          </li>
        </ul>
      </div>
      <div class='large-3 columns'>
        <ul class='pricing-table primary'>
          <li class='title'>Primary</li>
          <li class='price'>$99.99</li>
          <li class='description'>An awesome description</li>
          <li class='bullet-item'>1 Database</li>
          <li class='bullet-item'>5GB Storage</li>
          <li class='bullet-item'>20 Users</li>
          <li class='cta-button'>
            <a class='button success' href='#'>Buy Now</a>
          </li>
        </ul>
      </div>
      <div class='large-3 columns'>
        <ul class='pricing-table secondary'>
          <li class='title'>Secondary</li>
          <li class='price'>$79.99</li>
          <li class='description'>An awesome description</li>
          <li class='bullet-item'>1 Database</li>
          <li class='bullet-item'>5GB Storage</li>
          <li class='bullet-item'>20 Users</li>
          <li class='cta-button'>
            <a class='button success' href='#'>Buy Now</a>
          </li>
        </ul>
      </div>
      <div class='large-3 columns'>
        <ul class='pricing-table'>
          <li class='title'>Basic</li>
          <li class='price'>$29.99</li>
          <li class='description'>An awesome description</li>
          <li class='bullet-item'>1 Database</li>
          <li class='bullet-item'>5GB Storage</li>
          <li class='bullet-item'>20 Users</li>
          <li class='cta-button'>
            <a class='button secondary small' href='#'>Buy Now</a>
          </li>
        </ul>
      </div>
    </div>
    <h2>Data tables</h2>
    <table>
      <thead>
        <tr>
          <th width='200'>Table Header</th>
          <th>Table Header</th>
          <th width='150'>Table Header</th>
          <th width='150'>Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan='2'>
            <ul class='pagination'>
              <li class='arrow unavailable'>
                <a href=''>
                  <i class='icon-left-open-big'></i>
                </a>
              </li>
              <li class='current'><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li class='arrow'>
                <a href=''>
                  <i class='icon-right-open-big'></i>
                </a>
              </li>
            </ul>
          </td>
          <td colspan='2'>
            <span>3 of 12 records</span>
          </td>
        </tr>
      </tfoot>
    </table>
    <script src="/javascripts/all.js" type="text/javascript"></script>
  </body>
</html>
