<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Description here' name='description'>
    <meta content='tacos, whiskey, beer, sunshine, friends' name='keywords'>
    <link href='images/favicon.png' rel='shortcut icon' type='image/x-icon'>
    <link href='images/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed'>
    <link href='images/apple-touch-icon.png' rel='apple-touch-icon'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>The Middleman</title>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/modernizr.js" type="text/javascript"></script>
  </head>
  <body class='views views_buttons views_buttons_index'>
    <h1 data-magellan-destination='buttons' id='buttons'>Buttons</h1>
    <!-- Size Classes -->
    <h2>Basic Buttons</h2>
    <ul class='large-block-grid-3'>
      <li>
        <a class='button tiny' href='#'>Tiny Button</a>
      </li>
      <li>
        <a class='button small' href='#'>Small Button</a>
      </li>
      <li>
        <a class='button success' href='#'>Success Button</a>
      </li>
      <li>
        <a class='button secondary' href='#'>Secondary Button</a>
      </li>
      <li>
        <a class='button alert' href='#'>Alert Button</a>
      </li>
      <li>
        <a class='button disabled' href='#'>Disabled Button</a>
      </li>
    </ul>
    <h2>Icon &amp; Text Buttons</h2>
    <ul class='large-block-grid-3'>
      <li>
        <a class='button tiny' href='#'>
          <i class='icon-home'></i>
          Tiny Button
        </a>
      </li>
      <li>
        <a class='button small' href='#'>
          <i class='icon-home'></i>
          Small Button
        </a>
      </li>
      <li>
        <a class='button success' href='#'>
          <i class='icon-check'></i>
          Success Button
        </a>
      </li>
      <li>
        <a class='button secondary' href='#'>
          <i class='icon-tools'></i>
          Secondary Button
        </a>
      </li>
      <li>
        <a class='button alert' href='#'>
          <i class='icon-cancel'></i>
          Alert Button
        </a>
      </li>
      <li>
        <a class='button disabled' href='#'>
          <i class='icon-home'></i>
          Disabled Button
        </a>
      </li>
    </ul>
    <h2>Icon Buttons</h2>
    <ul class='large-block-grid-5'>
      <li>
        <a class='button small outline' href='#'>
          <i class='icon-home'></i>
        </a>
      </li>
      <li>
        <a class='button small outline alert' href='#'>
          <i class='icon-heart'></i>
        </a>
      </li>
      <li>
        <a class='button small outline success' href='#'>
          <i class='icon-basket'></i>
        </a>
      </li>
      <li>
        <a class='button small outline secondary' href='#'>
          <i class='icon-users'></i>
        </a>
      </li>
      <li>
        <a class='button small outline disabled' href='#'>
          <i class='icon-megaphone'></i>
        </a>
      </li>
    </ul>
    <h2>Button &amp; Icon Bars</h2>
    <ul class='large-block-grid-2'>
      <li>
        <ul class='button-group'>
          <li>
            <a class='button' href='#'>Button 1</a>
          </li>
          <li>
            <a class='button' href='#'>Button 2</a>
          </li>
          <li>
            <a class='button' href='#'>Button 3</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class='button-group'>
          <li>
            <a class='button small secondary' href='#'>Button 1</a>
          </li>
          <li>
            <a class='button small secondary' href='#'>Button 2</a>
          </li>
          <li>
            <a class='button small secondary' href='#'>Button 3</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class='button-group'>
          <li>
            <a class='button secondary' href='#'>Button 1</a>
          </li>
          <li>
            <a class='button secondary' href='#'>Button 2</a>
          </li>
          <li>
            <a class='button secondary' href='#'>Button 3</a>
          </li>
          <li>
            <a class='button success' href='#'>
              <i class='icon-check'></i>
            </a>
          </li>
          <li>
            <a class='button alert' href='#'>
              <i class='icon-cancel'></i>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <ul class='button-group'>
          <li>
            <a class='button secondary' href='#'>
              <i class='icon-to-start'></i>
            </a>
          </li>
          <li>
            <a class='button secondary' href='#'>
              <i class='icon-play'></i>
            </a>
          </li>
          <li>
            <a class='button secondary' href='#'>
              <i class='icon-to-end'></i>
            </a>
          </li>
          <li>
            <a class='button secondary' href='#'>
              <i class='icon-record'></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <script src="/javascripts/all.js" type="text/javascript"></script>
  </body>
</html>
