<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Description here' name='description'>
    <meta content='tacos, whiskey, beer, sunshine, friends' name='keywords'>
    <link href='images/favicon.png' rel='shortcut icon' type='image/x-icon'>
    <link href='images/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed'>
    <link href='images/apple-touch-icon.png' rel='apple-touch-icon'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>The Middleman</title>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/modernizr.js" type="text/javascript"></script>
  </head>
  <body class='views views_magellan views_magellan_index'>
    <h1 data-magellan-destination='magellan' id='magellan'>Magellan</h1>
    <div data-magellan-expedition='fixed'>
      <dl class='sub-nav'>
        <dd data-magellan-arrival='top'>
          <a href='#top'>
            <i class='icon-home'></i>
          </a>
        </dd>
        <dd data-magellan-arrival='magellan'>
          <a href='#magellan'>magellan</a>
        </dd>
        <dd data-magellan-arrival='topbar'>
          <a href='#topbar'>topbar</a>
        </dd>
        <dd data-magellan-arrival='typography'>
          <a href='#typography'>typography</a>
        </dd>
        <dd data-magellan-arrival='iconbar'>
          <a href='#iconbar'>iconbar</a>
        </dd>
        <dd data-magellan-arrival='sidenav'>
          <a href='#sidenav'>sidenav</a>
        </dd>
        <dd data-magellan-arrival='subnav'>
          <a href='#subnav'>subnav</a>
        </dd>
        <dd data-magellan-arrival='breadcrumbs'>
          <a href='#breadcrumbs'>breadcrumbs</a>
        </dd>
        <dd data-magellan-arrival='pagination'>
          <a href='#pagination'>pagination</a>
        </dd>
        <dd data-magellan-arrival='buttons'>
          <a href='#buttons'>buttons</a>
        </dd>
        <dd data-magellan-arrival='forms'>
          <a href='#forms'>forms</a>
        </dd>
        <dd data-magellan-arrival='table'>
          <a href='#table'>table</a>
        </dd>
        <dd data-magellan-arrival='tabs'>
          <a href='#tabs'>tabs</a>
        </dd>
      </dl>
    </div>
    <script src="/javascripts/all.js" type="text/javascript"></script>
  </body>
</html>
