<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Description here' name='description'>
    <meta content='tacos, whiskey, beer, sunshine, friends' name='keywords'>
    <link href='images/favicon.png' rel='shortcut icon' type='image/x-icon'>
    <link href='images/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed'>
    <link href='images/apple-touch-icon.png' rel='apple-touch-icon'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>The Middleman</title>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/modernizr.js" type="text/javascript"></script>
  </head>
  <body class='views views_breadcrumbs views_breadcrumbs_index'>
    <h1 data-magellan-destination='breadcrumbs' id='breadcrumbs'>Breadcrumbs</h1>
    <ul class='breadcrumbs'>
      <li>
        <a href='#'>Home</a>
      </li>
      <li>
        <a href='#'>Features</a>
      </li>
      <li class='unavailable'>
        <a href='#'>Gene Splicing</a>
      </li>
      <li class='current'>
        <a href='#'>Cloning</a>
      </li>
    </ul>
    <script src="/javascripts/all.js" type="text/javascript"></script>
  </body>
</html>
