---
title: Middleman Bootstrap Project by Andre Ortiz
---

.row
  .large-12.columns
    %h1 Basic Middleman
    %p.lead This starter app contains the following:
    %ol
      -['Middleman', 'Bower', 'Foundation', 'jQuery', 'haml', 'compass'].each do |thing|
        %li
          %span.label=thing

    %p
      This app is deployment ready on
      %kbd Heroku.
      Check the
      %kbd Github Repo
      for variations of this project