---
title: Middleman Bootstrap Project by Andre Ortiz
---

%ul
  -['buttons', 'forms', 'typography'].each do |view|
    %li
      %a{href:'#', onclick:'main.display(this)', data:{view:view}}
        =view
#page